<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/globals.css">
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/static/css/petForm.css">
  </head>
  <body>
    <form method="post">
      <%- include('navbar') -%>
      <div class="container">
        <h1 class="title">
          Update <%= pet.name %>'s details!
        </h1>
        <div class="descriptionContainer">
          <div class="headline">
            <input name="ownerId" hidden type="text" value="<%= pet.ownerId %>"></input>
            <input name="id" hidden type="text" value="<%= pet._id %>"></input>
            <input name="name" type="text" value="<%= pet.name %>"></input><p>, who is a</p>
            <input name="age" type="number" min="0" value="<%= pet.age %>" /><p>year(s) old</p>
            <input name="specie" type="text" value="<%= pet.specie %>" />
          </div>
          <textarea name="description" class="description" ><%= pet.description %></textarea>
          <div class="buttonContainer">
            <a class="formButton cancelButton" href="/pets">Cancel</a>
            <button type="submit" class="cleanButton formButton saveButton">Save</button>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>