<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/globals.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
  </head>
  <body>
    <div class="container">
      <div class="formContainer">
        <h1 class="titleText">Welcome to MyPets!</h1>
        <% if (locals.successText) { %>
          <p class="successText"><%= locals.successText %></p>
        <% } %>
        <form class="topForm" method="post">
          <div class="formRow">
            <label for="username" class="inputLabel">
              Username
            </label>
            <input
             id="username"
             type="text"
             placeholder="username"
             name="username"
             value="<%= locals.username %>"
            >
          </div>
          <div class="formRow">
            <label for="password" class="inputLabel">
              Password
            </label>
            <input 
              id="password"
              type="password" 
              name="password" 
              value="<%= locals.password %>"
            >
            <% if (locals.error) { %>
              <p class="errorText"><%= locals.error %></p>
            <% } %>
          </div>
          <div class="bottomContainer">
            <div class="buttonContainer">
              <a href="/register" class="styledButton">Register</a>
              <button type="submit" class="styledButton hoverButton">Login</button>
            </div>
          </div>
        </form>
        <form class="bottomForm" method="post" action="/forgot-password">
          <div class="forgotPasswordContainer">
            <br/>
            <input
             id="username"
             type="text"
             name="username"
             hidden
             value="<%= locals.username %>"
            >
            <% if (!!locals.username) { %>
              <button type="submit" class="cleanButton hoverButton forgotPassword">Forgot your password? <br/> (enter username and click here)</button>
            <% } %>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>