<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/globals.css">
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/static/css/petDetails.css">
  </head>
  <body>
    <nav>
      <a class="navLink" href="/pets">MyPets</a>
      <a class="navLink logoutButton" href="/logout">Logout</a>
    </nav>
    <div class="container">
      <h1 class="title">
      Your pet, <%= pet.name %>
      </h1>
      <div class="descriptionContainer">
        <div class="headline">
          <h1><%= pet.name %></h1>
          <p><%= pet.age %> year old</p>
          <p><%= pet.species %></p>
        </div>
        <div class="description">
          <%= pet.description %>
        </div>
        <div class="buttonContainer">
          <a class="formButton editButton" href="/pets/<%= pet.id %>/update">Edit</a>
          <a class="formButton deleteButton" href="/pets/<%= pet.id %>/delete">Delete</a>
        </div>
      </div>
    </div>
  </body>
</html>