<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/globals.css">
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/static/css/petList.css">
  </head>
  <body>
    <%- include('navbar') -%>
    <div class="container">
      <h1 class="title">
        <%= user.username %>'s pets
      </h1>
      <div class="petList">
        <a href="/pets/create" class="addPetItem">
          <h2>Add a new pet!</h2>
        </a>
        <% pets.forEach(function(pet){ %>
          <a href="/pets/<%= pet.id %>" class="petItem">
            <h2><%= pet.name %></h2>
            <p><%= pet.age %> year old</p>
            <p><%= pet.specie %></p>
          </a>
        <% }); %>
      </div>
    </div>
  </body>
</html>